
img.pic {
    height: 75%;
    width: 75%; 
}

.center-text-element {
    text-align: center;
    margin: auto;
    width: 50%;
}

.form-text label {
    display: inline-block;
    width: 250px;
    text-align: left;
}

.form-radio {
    display: block;
    position: relative;
    text-align: left;
    right: -300px;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/*hide the original buttons*/

.container-radio input ~ .check-toggle-radio {
    width: 15px;
    height: 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: grey;
} 
/*create custom button gray background and black border*/

.container-radio input:hover ~ .check-toggle-radio  {
    background-color: lightgreen;
}
/*hover radio button*/

.container-radio input:checked ~ .check-toggle-radio {
    background-color: green;
}
/*clicked radio button*/

.container-radio input:checked ~ .check-toggle-radio::after {
    content: '';
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 40%;
    margin: auto;
    position: absolute;
    border-radius: 50%;
    background-color: white;
}

table.center-table{
    text-align: center;
    width: 100%;
}

.form-labels label {
    display: inline-block;
    width: 25%;
    text-align: left;
}

input[type="month"], select {
    width: 44%;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: plum;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; 
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

h2 {
    color: palevioletred;
}

/**********************************************/
body.thCells th {
    background-color: white;
    color: black;
    border: none;
}

body.tdCells td {
    background-color: white;
    color: black;
    border: none;
}

body.trCells tr {
    background-color: white;
    color: black;
    border: none;
}

body.table table {
    background-color: white;
    color: black;
    border: none;
}
/**********************************************/
